### Importing Libraries

In [494]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Importing Data Frame

In [495]:
df = pd.read_csv('BangaloreZomatoData.csv')

### Exploring Data Frame

In [496]:
df.head()

,Name,URL,Cuisines,Area,Timing,Full_Address,PhoneNumber,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,KnownFor,PopularDishes,PeopleKnownFor,AverageCost
0,Sri Udupi Park,https://www.zomato.com/bangalore/sri-udupi-par...,"South Indian, North Indian, Chinese, Street Fo...","Indiranagar, Bangalore",7am – 11pm (Today),"273, Monalisa, 6th Main, 100 Feet Road, Indira...",+919945977774,1,1,1,1,4.0,462,4.1,16000,NaN,"Filtered Coffee, Sambhar, Pav Bhaji, Gobi Manc...","Economical, Prompt Service, Hygiene, Quality F...",450
1,Meghana Foods,https://www.zomato.com/bangalore/meghana-foods...,"Biryani, Andhra, North Indian, Seafood","Indiranagar, Bangalore",Opens at 6:30pm,"544, First Floor, CMH Road, Near Indiranagar M...",+918041135050,1,1,1,0,4.3,1654,4.3,28600,Spicy Chicken Biryani,"Authentic Hyderabadi Biryani, Paneer Biryani, ...","Boneless Chicken Biryani, Ample Seating Area, ...",700
2,Donne Biriyani House,https://www.zomato.com/bangalore/donne-biriyan...,Biryani,"Indiranagar, Bangalore",11am – 11pm (Today),"8/ 9, 17th F Cross, 2nd Stage, Indiranagar, Ba...",+918861564169,1,1,1,0,3.9,411,3.5,33200,NaN,NaN,"Great Recommendations, Nice Taste, Great Ambia...",300
3,Domino's Pizza,https://www.zomato.com/bangalore/dominos-pizza...,"Pizza, Fast Food, Desserts","Indiranagar, Bangalore",10:57am – 12midnight (Today),"308, 2nd Stage, 100 Feet Road, Indiranagar, Ba...",+919916465787,1,1,1,0,2.4,422,4.4,8205,NaN,"Barbeque Chicken Pizza, Choco Lava Cake, White...","Value for Money, Packaging, Staff, Ambience, Food",400
4,KFC,https://www.zomato.com/bangalore/kfc-indiranagar,"Burger, Fast Food, Biryani, Desserts, Beverages","Indiranagar, Bangalore",11am – 11pm (Today),"38/1A, CMH Road, Indiranagar, Bangalore",+919513700040,1,1,1,0,2.8,673,4.0,9148,NaN,"Fiery Chicken, Chicken Popcorn, Rice Bowl, Wings","Elegantly Decorated, Great Recommendations, Vi...",400

In [497]:
df.shape

(8923, 19)

In [498]:
df.describe()

,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Reviews,Delivery Reviews,AverageCost
count,8923.000000,8923.000000,8923.000000,8923.000000,8923.000000,8923.000000,8923.000000
mean,0.997871,0.660092,0.442676,0.072285,157.106018,2014.709403,340.225261
std,0.046098,0.473704,0.496731,0.258974,731.834227,5524.430542,308.338943
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,42.000000,150.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,279.000000,250.000000
75%,1.000000,1.000000,1.000000,0.000000,43.000000,1493.500000,400.000000
max,1.000000,1.000000,1.000000,1.000000,26500.000000,99600.000000,4200.000000

In [499]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              8923 non-null   object
 1   URL               8923 non-null   object
 2   Cuisines          8923 non-null   object
 3   Area              8923 non-null   object
 4   Timing            5820 non-null   object
 5   Full_Address      8923 non-null   object
 6   PhoneNumber       8923 non-null   object
 7   IsHomeDelivery    8923 non-null   int64
 8   isTakeaway        8923 non-null   int64
 9   isIndoorSeating   8923 non-null   int64
 10  isVegOnly         8923 non-null   int64
 11  Dinner Ratings    8923 non-null   object
 12  Dinner Reviews    8923 non-null   int64
 13  Delivery Ratings  8923 non-null   object
 14  Delivery Reviews  8923 non-null   int64
 15  KnownFor          258 non-null    object
 16  PopularDishes     1535 non-null   object
 17  PeopleKnownFor    3484 non-null   object
 18  AverageCost       8923 non-null   int64
dtypes: int64(7), object(12)
memory usage: 1.3+ MB

In [500]:
df.head(2)

,Name,URL,Cuisines,Area,Timing,Full_Address,PhoneNumber,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,KnownFor,PopularDishes,PeopleKnownFor,AverageCost
0,Sri Udupi Park,https://www.zomato.com/bangalore/sri-udupi-par...,"South Indian, North Indian, Chinese, Street Fo...","Indiranagar, Bangalore",7am – 11pm (Today),"273, Monalisa, 6th Main, 100 Feet Road, Indira...",+919945977774,1,1,1,1,4.0,462,4.1,16000,NaN,"Filtered Coffee, Sambhar, Pav Bhaji, Gobi Manc...","Economical, Prompt Service, Hygiene, Quality F...",450
1,Meghana Foods,https://www.zomato.com/bangalore/meghana-foods...,"Biryani, Andhra, North Indian, Seafood","Indiranagar, Bangalore",Opens at 6:30pm,"544, First Floor, CMH Road, Near Indiranagar M...",+918041135050,1,1,1,0,4.3,1654,4.3,28600,Spicy Chicken Biryani,"Authentic Hyderabadi Biryani, Paneer Biryani, ...","Boneless Chicken Biryani, Ample Seating Area, ...",700

In [501]:
df.columns

Index(['Name', 'URL', 'Cuisines', 'Area', 'Timing', 'Full_Address',
       'PhoneNumber', 'IsHomeDelivery', 'isTakeaway', 'isIndoorSeating',
       'isVegOnly', 'Dinner Ratings', 'Dinner Reviews', 'Delivery Ratings',
       'Delivery Reviews', 'KnownFor', 'PopularDishes', 'PeopleKnownFor',
       'AverageCost'],
      dtype='object')

### Droping Unwanted Columns

In [502]:
remove_cols = ['URL','Timing', 'Full_Address','PhoneNumber', 'PeopleKnownFor','PopularDishes' ]
df = df.drop(columns=remove_cols)

In [503]:
df.head()

,Name,Cuisines,Area,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,KnownFor,AverageCost
0,Sri Udupi Park,"South Indian, North Indian, Chinese, Street Fo...","Indiranagar, Bangalore",1,1,1,1,4.0,462,4.1,16000,NaN,450
1,Meghana Foods,"Biryani, Andhra, North Indian, Seafood","Indiranagar, Bangalore",1,1,1,0,4.3,1654,4.3,28600,Spicy Chicken Biryani,700
2,Donne Biriyani House,Biryani,"Indiranagar, Bangalore",1,1,1,0,3.9,411,3.5,33200,NaN,300
3,Domino's Pizza,"Pizza, Fast Food, Desserts","Indiranagar, Bangalore",1,1,1,0,2.4,422,4.4,8205,NaN,400
4,KFC,"Burger, Fast Food, Biryani, Desserts, Beverages","Indiranagar, Bangalore",1,1,1,0,2.8,673,4.0,9148,NaN,400

In [504]:
df.shape

(8923, 13)

### 1. Handling Null Values

In [505]:
df.isna().sum()

Name                   0
Cuisines               0
Area                   0
IsHomeDelivery         0
isTakeaway             0
isIndoorSeating        0
isVegOnly              0
Dinner Ratings         0
Dinner Reviews         0
Delivery Ratings       0
Delivery Reviews       0
KnownFor            8665
AverageCost            0
dtype: int64

In [506]:
# In the column KnownFor has 90 percent null values so we can drop it
df = df.drop(columns='KnownFor')

In [507]:
df.isna().sum()

Name                0
Cuisines            0
Area                0
IsHomeDelivery      0
isTakeaway          0
isIndoorSeating     0
isVegOnly           0
Dinner Ratings      0
Dinner Reviews      0
Delivery Ratings    0
Delivery Reviews    0
AverageCost         0
dtype: int64

### 2. Handling Inconsistent Formatting

In [508]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              8923 non-null   object
 1   Cuisines          8923 non-null   object
 2   Area              8923 non-null   object
 3   IsHomeDelivery    8923 non-null   int64
 4   isTakeaway        8923 non-null   int64
 5   isIndoorSeating   8923 non-null   int64
 6   isVegOnly         8923 non-null   int64
 7   Dinner Ratings    8923 non-null   object
 8   Dinner Reviews    8923 non-null   int64
 9   Delivery Ratings  8923 non-null   object
 10  Delivery Reviews  8923 non-null   int64
 11  AverageCost       8923 non-null   int64
dtypes: int64(7), object(5)
memory usage: 836.7+ KB

In [509]:
df['Dinner Ratings'].unique()

array(['4.0', '4.3', '3.9', '2.4', '2.8', '-', '4.1', '3.8', '4.2', '3.7',
       '4.8', '3.1', '4.9', '4.4', '2.7', '3.4', '3.6', '2.0', '3.2',
       '2.9', '4.6', '3.5', '3.3', '4.5', '2.3', '3.0', '4.7', '2.5',
       '2.6', '2.2', '2.1'], dtype=object)

In [510]:
series = df[df['Dinner Ratings'] != '-']['Dinner Ratings'].astype(float)
print(series.mean(),series.median())

3.6455252918287933 3.7

In [511]:
df['Dinner Ratings'] = df['Dinner Ratings'].replace('-',round(series.mean(),1))

In [512]:
df['Dinner Ratings'].unique()

array(['4.0', '4.3', '3.9', '2.4', '2.8', np.float64(3.6), '4.1', '3.8',
       '4.2', '3.7', '4.8', '3.1', '4.9', '4.4', '2.7', '3.4', '3.6',
       '2.0', '3.2', '2.9', '4.6', '3.5', '3.3', '4.5', '2.3', '3.0',
       '4.7', '2.5', '2.6', '2.2', '2.1'], dtype=object)

In [513]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              8923 non-null   object
 1   Cuisines          8923 non-null   object
 2   Area              8923 non-null   object
 3   IsHomeDelivery    8923 non-null   int64
 4   isTakeaway        8923 non-null   int64
 5   isIndoorSeating   8923 non-null   int64
 6   isVegOnly         8923 non-null   int64
 7   Dinner Ratings    8923 non-null   object
 8   Dinner Reviews    8923 non-null   int64
 9   Delivery Ratings  8923 non-null   object
 10  Delivery Reviews  8923 non-null   int64
 11  AverageCost       8923 non-null   int64
dtypes: int64(7), object(5)
memory usage: 836.7+ KB

In [514]:
df['Delivery Ratings'].unique()

array(['4.1', '4.3', '3.5', '4.4', '4.0', '4.5', '3.8', '3.7', '4.2',
       '4.6', '3.9', '3.4', '3.3', '3.6', '2.9', '3.2', '3.1', '-', '2.7',
       '3.0', '2.8', '4.7', '2.6', '2.5', '2.4'], dtype=object)

In [515]:
series = df[df['Delivery Ratings'] != '-']['Delivery Ratings'].astype(float)
print(series.mean(),series.median())

3.8791966119096504 3.9

In [516]:
df['Delivery Ratings'] = df['Delivery Ratings'].replace('-',round(series.mean(),1))

In [517]:
df['Delivery Ratings'].unique()

array(['4.1', '4.3', '3.5', '4.4', '4.0', '4.5', '3.8', '3.7', '4.2',
       '4.6', '3.9', '3.4', '3.3', '3.6', '2.9', '3.2', '3.1',
       np.float64(3.9), '2.7', '3.0', '2.8', '4.7', '2.6', '2.5', '2.4'],
      dtype=object)

In [518]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              8923 non-null   object
 1   Cuisines          8923 non-null   object
 2   Area              8923 non-null   object
 3   IsHomeDelivery    8923 non-null   int64
 4   isTakeaway        8923 non-null   int64
 5   isIndoorSeating   8923 non-null   int64
 6   isVegOnly         8923 non-null   int64
 7   Dinner Ratings    8923 non-null   object
 8   Dinner Reviews    8923 non-null   int64
 9   Delivery Ratings  8923 non-null   object
 10  Delivery Reviews  8923 non-null   int64
 11  AverageCost       8923 non-null   int64
dtypes: int64(7), object(5)
memory usage: 836.7+ KB

### 3. Correcting Data types

In [519]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              8923 non-null   object
 1   Cuisines          8923 non-null   object
 2   Area              8923 non-null   object
 3   IsHomeDelivery    8923 non-null   int64
 4   isTakeaway        8923 non-null   int64
 5   isIndoorSeating   8923 non-null   int64
 6   isVegOnly         8923 non-null   int64
 7   Dinner Ratings    8923 non-null   object
 8   Dinner Reviews    8923 non-null   int64
 9   Delivery Ratings  8923 non-null   object
 10  Delivery Reviews  8923 non-null   int64
 11  AverageCost       8923 non-null   int64
dtypes: int64(7), object(5)
memory usage: 836.7+ KB

In [520]:
df['Dinner Ratings'] = df['Dinner Ratings'].astype(float)
df['Delivery Ratings'] = df['Delivery Ratings'].astype(float)

In [521]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              8923 non-null   object
 1   Cuisines          8923 non-null   object
 2   Area              8923 non-null   object
 3   IsHomeDelivery    8923 non-null   int64
 4   isTakeaway        8923 non-null   int64
 5   isIndoorSeating   8923 non-null   int64
 6   isVegOnly         8923 non-null   int64
 7   Dinner Ratings    8923 non-null   float64
 8   Dinner Reviews    8923 non-null   int64
 9   Delivery Ratings  8923 non-null   float64
 10  Delivery Reviews  8923 non-null   int64
 11  AverageCost       8923 non-null   int64
dtypes: float64(2), int64(7), object(3)
memory usage: 836.7+ KB

### 4. Handling Duplicates

In [522]:
df.shape

(8923, 12)

In [523]:
df['Name'].value_counts()

Name
Five Star Chicken                                   29
Kwality Wall’s Frozen Dessert and Ice Cream Shop    27
Snack House                                         27
Momo Monk                                           25
Lassi Shop                                          23
                                                    ..
New SBFC Food Funda                                  1
Kudla - Coraltree                                    1
Bangkok Bowl                                         1
Yuan Restaurant                                      1
Kebab & Kurry Nation                                 1
Name: count, Length: 5242, dtype: int64

In [524]:
df[df['Name'] == 'Five Star Chicken']

,Name,Cuisines,Area,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,AverageCost
36,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","KR Puram, Bangalore",1,1,0,0,3.6,0,3.9,609,100
647,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Marathahalli, Bangalore",1,1,1,0,3.2,30,3.4,823,400
1304,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Whitefield, Bangalore",1,1,1,0,3.5,20,3.1,41,400
1431,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","ITPL Main Road, Whitefield, Bangalore",1,1,1,0,3.0,13,3.5,91,400
2112,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","KR Puram, Bangalore",1,1,0,0,3.6,0,3.9,92,100
2199,Five Star Chicken,Fast Food,"Koramangala 5th Block, Bangalore",1,1,0,0,3.6,0,3.4,93,100
2844,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","HSR, Bangalore",1,1,1,0,3.3,3,4.1,382,400
3363,Five Star Chicken,Fast Food,"Jayanagar, Bangalore",1,1,1,0,3.3,0,3.9,2,250
3829,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","JP Nagar, Bangalore",1,1,1,0,4.0,164,3.6,6348,400
3959,Five Star Chicken,"Fast Food, Roast Chicken","Uttarahalli, Bangalore",1,1,1,0,3.6,1,3.7,43,300
4221,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Kadubeesanahalli, Bangalore",1,1,1,0,3.3,3,3.7,2370,400
4400,Five Star Chicken,Fast Food,"Sarjapur Road, Bangalore",1,1,1,0,3.6,2,3.9,11,250
4491,Five Star Chicken,"Fast Food, Rolls","HSR, Bangalore",1,0,0,0,3.6,0,4.0,38,100
4502,Five Star Chicken,Fast Food,"Bellandur, Bangalore",1,1,1,0,3.6,0,3.9,6,200
4598,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Richmond Road, Bangalore",1,1,0,0,3.6,0,3.6,340,100
4850,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Sadashiv Nagar, Bangalore",1,1,1,0,3.0,25,4.2,462,400
5575,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","BTM, Bangalore",1,1,0,0,3.6,0,4.1,139,100
5633,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Ulsoor, Bangalore",1,1,1,0,3.3,0,3.9,10,400
5732,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Ejipura, Bangalore",1,1,1,0,3.4,36,3.7,411,400
5807,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Kalyan Nagar, Bangalore",1,1,0,0,3.4,14,3.6,590,400
6524,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Electronic City, Bangalore",1,1,0,0,3.6,0,4.2,132,100
7290,Five Star Chicken,Fast Food,"Bannerghatta Road, Bangalore",1,1,0,0,3.6,0,4.3,158,100
7398,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Bannerghatta Road, Bangalore",1,1,1,0,3.3,2,4.3,124,400
7506,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Jalahalli, Bangalore",1,1,1,0,3.5,7,4.1,429,400
7953,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Koramangala 8th Block, Bangalore",1,1,0,0,3.6,0,3.8,111,100
8100,Five Star Chicken,Fast Food,"Banashankari, Bangalore",1,1,1,0,3.3,1,3.5,98,300
8489,Five Star Chicken,Fast Food,"Rajajinagar, Bangalore",1,1,1,0,3.3,2,4.2,287,300
8770,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Kammanahalli, Bangalore",1,1,1,0,3.3,0,4.3,81,400
8858,Five Star Chicken,"Wraps, Burger, Rolls, Fast Food, Street Food","Frazer Town, Bangalore",1,1,1,0,3.3,0,4.3,184,400

In [525]:
df.drop_duplicates(subset=['Name','Area'], keep='first')

,Name,Cuisines,Area,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,AverageCost
0,Sri Udupi Park,"South Indian, North Indian, Chinese, Street Fo...","Indiranagar, Bangalore",1,1,1,1,4.0,462,4.1,16000,450
1,Meghana Foods,"Biryani, Andhra, North Indian, Seafood","Indiranagar, Bangalore",1,1,1,0,4.3,1654,4.3,28600,700
2,Donne Biriyani House,Biryani,"Indiranagar, Bangalore",1,1,1,0,3.9,411,3.5,33200,300
3,Domino's Pizza,"Pizza, Fast Food, Desserts","Indiranagar, Bangalore",1,1,1,0,2.4,422,4.4,8205,400
4,KFC,"Burger, Fast Food, Biryani, Desserts, Beverages","Indiranagar, Bangalore",1,1,1,0,2.8,673,4.0,9148,400
...,...,...,...,...,...,...,...,...,...,...,...,...
8918,New SBFC Food Funda,Fast Food,"Frazer Town, Bangalore",1,1,1,0,3.7,14,4.0,48,300
8919,Kudla - Coraltree,"Seafood, Mangalorean, Beverages","Coraltree, RT Nagar, Bangalore",1,1,0,0,3.9,348,4.3,564,1200
8920,Bangkok Bowl,"Salad, Chinese","Kammanahalli, Bangalore",1,1,0,0,3.6,0,3.7,254,300
8921,Yuan Restaurant,"Thai, Chinese","HBR Layout, Bangalore",1,1,1,0,3.8,188,3.5,3169,400
8922,Amma's Biryani & Rice,"Biryani, Fast Food","Kammanahalli, Bangalore",1,1,1,0,3.9,6,3.9,18,300